<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjw.gmbackend.mapper">
    <insert id="insertFavorite">
        insert into favorite(user_id, target_type, target_id)
        values (#{userId}, 1, #{musicId})
    </insert>

    <delete id="deleteFavorite">
    delete from favorite
    where user_id = #{userId}
      and target_type = 1
      and target_id = #{musicId}
    </delete>

    <select id="exists" resultType="int">
    select count(1)
    from favorite
    where user_id = #{userId}
      and target_type = 1
      and target_id = #{musicId}
    </select>

    <select id="selectFavoriteMusicList" resultType="Music">
    select m.*, true as liked
    from music m
             join favorite f on f.target_id = m.id
    where f.user_id = #{userId}
      and f.target_type = 1
    order by f.created_time desc
    </select>
</mapper>

