:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: black;
  background-color: white;
  /* --hover-color: rgb(179, 225, 157); */
  --hover-color: #1db954;

}

* {
  margin: 0px;
  padding: 0px;
}
