<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zjw.gmbackend.mapper.MusicMapper">

    <!-- 首页推荐歌曲 -->
    <select id="selectRecommendList" resultType="com.zjw.gmbackend.pojo.Music">
        select
            id,
            title,
            artist,
            album,
            cover_url,
            duration_sec,
            lyric,
            tags
        from music
        order by created_time desc
            limit 10
    </select>

    <!-- 歌曲详情 -->
    <select id="selectMusicDetail" resultType="com.zjw.gmbackend.pojo.Music">
        select *
        from music
        where id = #{id}
    </select>

    <!-- 按标签查询 -->
    <select id="selectByTag" resultType="com.zjw.gmbackend.pojo.Music">
        select *
        from music
        where tags like concat('%', #{tag}, '%')
        order by created_time desc
    </select>

    <select id="searchByKeyword" resultType="com.zjw.gmbackend.pojo.Music">
        select
            id,
            title,
            artist,
            album,
            cover_url,
            duration_sec
        from music
        where title like concat('%', #{keyword}, '%')
           or artist like concat('%', #{keyword}, '%')
        order by created_time desc
    </select>

    <select id="selectHistoryMusic" resultType="com.zjw.gmbackend.pojo.Music">
        select
            m.id,
            m.title,
            m.artist,
            m.album,
            m.cover_url,
            m.duration_sec
        from history h
                 join music m on h.music_id = m.id
        where h.user_id = #{userId}
        order by h.play_time desc
            limit 20
    </select>



</mapper>
