<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zjw.gmbackend.mapper.PlaylistMapper">

    <!-- 查询歌单基本信息 -->
    <select id="selectById" resultType="com.zjw.gmbackend.pojo.Playlist">
        select
            id,
            user_id,
            name,
            cover_url,
            description,
            created_time,
            category
        from playlist
        where id = #{id}
    </select>

    <!-- 查询歌单下的歌曲 -->
    <select id="selectMusicByPlaylistId" resultType="com.zjw.gmbackend.pojo.Music">
        select
            m.id,
            m.title,
            m.artist,
            m.cover_url,
            m.duration_sec
        from playlist_music pm
                 join music m on pm.music_id = m.id
        where pm.playlist_id = #{playlistId}
        order by pm.sort_order asc
    </select>

    <!-- 新建歌单 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into playlist (
            user_id,
            name,
            cover_url,
            description,
            created_time,
            category
        ) values (
                     #{userId},
                     #{name},
                     #{coverUrl},
                     #{description},
                     #{createdTime},
                     #{category}
                 )
    </insert>

    <select id="existsMusic" resultType="int">
        select count(1)
        from playlist_music
        where playlist_id = #{playlistId}
          and music_id = #{musicId}
    </select>

    <select id="selectMaxSortOrder" resultType="int">
        select max(sort_order)
        from playlist_music
        where playlist_id = #{playlistId}
    </select>

    <insert id="insertPlaylistMusic">
        insert into playlist_music (playlist_id, music_id, sort_order)
        values (#{playlistId}, #{musicId}, #{sortOrder})
    </insert>

    <delete id="deletePlaylistMusic">
        delete
        from playlist_music
        where playlist_id = #{playlistId}
          and music_id = #{musicId}
    </delete>

    <select id="selectList" resultType="com.zjw.gmbackend.pojo.Playlist">
        select
        id,
        name,
        cover_url,
        description,
        category,
        created_time
        from playlist
        <where>
            <if test="category != null and category != ''">
                category = #{category}
            </if>
        </where>
        order by created_time desc
        limit #{offset}, #{size}
    </select>

    <select id="count" resultType="int">
        select count(1)
        from playlist
        <where>
            <if test="category != null and category != ''">
                category = #{category}
            </if>
        </where>
    </select>

    <select id="selectByUserId" resultType="com.zjw.gmbackend.pojo.Playlist">
        select
            id,
            name,
            cover_url,
            description
        from playlist
        where user_id = #{userId}
        order by id desc
    </select>

    <delete id="deleteAllPlaylistMusic">
        delete from playlist_music where playlist_id = #{playlistId}
    </delete>

    <delete id="deleteById">
        delete from playlist where id = #{id}
    </delete>




</mapper>